<footer>
    <!--Language-->
    <div class="row">

        <div class="col-lg-12">
            <h2>Language</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="/news/all/en/all"> <img class="img-responsive customer-img" src="/assets/img/languages/United-Kingdom-icon.png" alt=""></a>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="/news/all/de/all"> <img class="img-responsive customer-img" src="/assets/img/languages/Germany-icon.png" alt=""></a>
        </div>
    </div>
    <!--Country-->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Countries</h2>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/all/all/us"> <img class="img-responsive customer-img" src="/assets/img/country/usa.gif" alt=""></a>
            <!-- <div class="newcaption">
            <h4>United States of America</h4>
        </div> -->
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/all/all/gb"> <img class="img-responsive customer-img" src="/assets/img/country/uk.gif" alt=""></a>
            <!-- <div class="newcaption">
            <h4>Great Britain</h4>
        </div> -->
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/all/all/in"> <img class="img-responsive customer-img" src="/assets/img/country/india.gif" alt=""></a>
            <!-- <div class="newcaption">
            <h4>India</h4>
        </div> -->
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/all/all/de"> <img class="img-responsive customer-img" src="/assets/img/country/germany.gif" alt=""></a>
            <!-- <div class="newcaption">
            <h4>Germany</h4>
        </div> -->
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/all/all/au"> <img class="img-responsive customer-img" src="/assets/img/country/australia.gif" alt=""></a>
            <!-- <div class="newcaption">
            <h4>Australia</h4>
        </div> -->
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/all/all/it"> <img class="img-responsive customer-img" src="/assets/img/country/it.gif" alt=""></a>
            <!-- <div class="newcaption">
            <h4>Italy</h4>
        </div> -->
        </div>
        <!--Category-->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">News Resources</h2>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="/news/sport"> <img class="img-responsive customer-img" src="/assets/img/sport.png" alt=""></a>
                <div class="newcaption">
                    <h4>Sports</h4>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="/news/business"> <img class="img-responsive customer-img" src="/assets/img/currency.jpg" alt=""></a>
                <div class="newcaption">
                    <h4>Business</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="/news/technology"> <img class="img-responsive customer-img" src="/assets/img/technology.jpg" alt=""></a>
                <div class="newcaption">
                    <h4>Technology</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="/news/science-and-nature"> <img class="img-responsive customer-img" src="/assets/img/scienceandnature.jpg" alt=""></a>
                <div class="newcaption">
                    <h4>Science and Nature</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="/news/music"> <img class="img-responsive customer-img" src="/assets/img/musicjpg.jpg" alt=""></a>
                <div class="newcaption">
                    <h4>Music</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="/news/entertainment"> <img class="img-responsive customer-img" src="/assets/img/entertainment.jpg" alt=""></a>
                <div class="newcaption">
                    <h4>Entertainment</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="/news/gaming"> <img class="img-responsive customer-img" src="/assets/img/gaming.jpg" alt=""></a>
                <div class="newcaption">
                    <h4>Gaming</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="/news/general"> <img class="img-responsive customer-img" src="/assets/img/world_news_new.png" alt=""></a>
                <div class="newcaption">
                    <h4>General</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <a href="/news/all"> <img class="img-responsive customer-img" src="/assets/img/all.jpg" alt=""></a>
                <div class="newcaption">
                    <h4>All +</h4>
                </div>
            </div>
        </div>
    </div>

</footer>
