<footer id="block">
	<div class="container">
	   <div class="row">
			<div class="col-md-4 text-center">
				<div class="row">
					<div class="col-lg-12">
							<h2 >Categories</h2>
							<hr>
					</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
								<a href="/news/sport"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="Sports" src="/assets/img/sport.png" alt=""></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
								<a href="/news/business"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="Business" src="/assets/img/currency.jpg" alt=""></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
								<a href="/news/technology"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="Technology" src="/assets/img/technology.jpg" alt=""></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
								<a href="/news/science-and-nature"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="Science and Nature" src="/assets/img/scienceandnature.jpg" alt=""></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
								<a href="/news/music"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="Music" src="/assets/img/music.jpg" alt=""></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
								<a href="/news/entertainment"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="Entertainment" src="/assets/img/entertainment.jpg" alt=""></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
								<a href="/news/gaming"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="Gaming" src="/assets/img/gaming.jpg" alt=""></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
								<a href="/news/general"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="World News" src="/assets/img/1world_news.png" alt=""></a>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-4">
								<a href="/news/all"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="Everything +" src="/assets/img/all.jpg" alt=""></a>
						</div>
					</div>
				</div>

			<div class="col-md-4 text-center">
					<div class="row">
				<div class="col-lg-12">
						<h2 >Languages</h2>
						<hr>
				</div>
				<div class="col-md-6 col-sm-4 col-xs-2">
						<a href="/news/all/en/all"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="English" src="/assets/img/languages/united_kingdom_640.png" alt=""></a>
				</div>

				<div class="col-md-6 col-sm-4 col-xs-2">
						<a href="/news/all/de/all"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="German" src="/assets/img/languages/germany_640.png" alt=""></a>
				</div>
			</div>

			</div>

			<div class="col-md-4 text-center">
				<div class="row">
				<div class="col-lg-12">
						<h2>Countries</h2>
						<hr>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
						<a href="/news/all/all/us"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="United States of America" src="/assets/img/country/usa.gif" alt=""></a>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-6">
						<a href="/news/all/all/gb"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="Great Britain" src="/assets/img/country/uk.gif" alt=""></a>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-6">
						<a href="/news/all/all/in"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="India" src="/assets/img/country/india.gif" alt=""></a>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-6">
						<a href="/news/all/all/de"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="Germany" src="/assets/img/country/germany.gif" alt=""></a>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-6">
						<a href="/news/all/all/au"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="Australia" src="/assets/img/country/australia.gif" alt=""></a>
				</div>

				<div class="col-md-4 col-sm-4 col-xs-6">
						<a href="/news/all/all/it"> <img class="img-responsive img-hover customer-img" data-toggle="tooltip" title="Italy" src="/assets/img/country/it.gif" alt=""></a>
				</div>
		    </div>
			</div>
		</div>
	</div>


</footer>
