<!--
Here is the main HTML where handlebars will render to
 -->
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Newsroom Anchorman is an editorial news site that acts as a single point of source that accumulates different news feeds and posts under our application. The problem that it will solve is to have many reliant news sources in one panel.">
	<meta name="author" content="">
	<meta name="newsroom" content="">
	<!-- SEO -->
	<meta name="Description" content="Newsroom Anchorman is an editorial news site that acts as a single point of source that accumulates different news feeds and posts under our application. The problem that it will solve is to have many reliant news sources in one panel.">
	<meta name="Keywords" content="Australian Broadcasting Company, Ars Technica, Associated Press, BBC News, BBC Sports, Bild, Bloomberg, Business Insider, Business Insider UK, BuzzFeed, CNBC, CNN, Daily Mail, Der Tagesspielfel, Die Zeit, engadget, Entertainment Weekly, ESPN, ESPN CRIC INFO, Financial Times, Focus, Football Italia, Fortune, FourFourTwo, Fox Sports, Google, Gruenderszene, Hacker News, Handelsblatt, IGN Entertainment, Independent, Mashable, Metro, Daily Mirror, MTV News, MTV News UK, National Grographic, New Scientist, Newsweek, New York Magazine, NFL News, Sky News, Sky Sport News, Spiegel Online, T3N, Talk Sport, Tech Crunch, Tech Radar, The Economist, The Guardian, The Guardian UK, The Hindu, The Huffington Post, The LAD Bible, The New York Times, The Next Web, The Sport Bible, The telegraph, The Times of India, The Verge, The Wall Street Journal, The Washington Post, Time, USA Today, Wired, Wirtschafts Woche ,sport, business, technology, science and nature, music, gaming, entertainment, general info">

	<!-- Bootstrap Core CSS -->
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="/assets/css/modern-business.css" rel="stylesheet">
	<!-- Animate.css Include -->
	<link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
	<!-- Custom Fonts -->
	<link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Newsroom Anchorman!</title>
</head>

<body>
	{{> pageHeader }} {{{ body }}}


	<!-- jQuery -->
	<script src="/assets/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/assets/js/bootstrap.min.js"></script>

	<!-- Script to Activate the Carousel -->
	<script>
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
			$('.carousel').carousel({
				interval: 5000 //changes the speed
			});
		});
	</script>
</body>

{{> pageFooter1}}

</HTML>
