<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/assets/img/sliderone.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/img/slidertwo.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/img/sliderthree.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/assets/img/sliderfour.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">
    <!-- About Application Section -->
    <div class="row">
        <div class="col-lg-12">
            <!-- Call to Action Section -->
            <hr>
            <div class="well animated bounceInLeft">
                <div class="row">
                    <div class="col-md-8 text-center">
                        <h3>Create your personlaized News Room with Anchorman</h3>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-lg btn-default btn-block" href="users/new">Sign Up!</a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-md-6">
            <img class="img-responsive background-image" src="/assets/img/anchorman.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h1>Newsroom Anchorman</h1>

            <h4>Be the Ancorman of your news room!!</h4>

            <p>We bring top news from all across the globe to you and let you create your reading dashboard with collection of news of your choice that you can visit anytime to read.</p>
            <p>Search News By Categories, News Sources from across the world and in multiple languages.</p>

            <p>What are you waiting for Start Your Search Now..</p>
            <a class="btn btn-primary">Search News</a>
        </div>
    </div>
    <!-- /.row -->
    <!-- Key Features Section -->
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="page-header">
                   Key Features of Application<br/>

                </h1>

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> Search By Category</h4>
                </div>
                <div class="panel-body">
                    <p>Get news from business, entertainment, gaming, general, music, science-and-nature, sport and technology.<a href="news/all">Click Here</a> to view new across all categories. </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i>Search By Source</h4>
                </div>
                <div class="panel-body">
                    <p>Select your favourite news source from over 70 news sources cross the world. <a href="news/all/all/all">Click Here</a> to view list of all our news sources.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
                </div>
                <div class="panel-body">
                    <p>Creating your News Dashboard is just a click of button.<a href="users/new">Sign Up</a> and click the Add to Read List button on article to add it to your dashboard.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <hr>
        <div class="col-md-6">
            <img class="img-responsive"  src="/assets/img/newsapi.png" alt="">
        </div>
        <div class="col-md-6">
            <h2>About News API</h2>
            <p>News API is a simple and easy-to-use API that returns JSON metadata for the headlines currently published on a range of news sources and blogs </p>
            <p>News API lest you access all the information using 2 endpoints: </p>
            <ul>
                <li>GET https://newsapi.org/v1/articles</li>
                <li>GET https://newsapi.org/v1/sources</li>
            </ul>
            <p>Challange was to use these two endpoints to create a fully functional website.</p>
            <p>Below is the list of search Categories</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Our Customers -->

    <!--Categories  -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">News Categories</h2>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/sport"> <img class="img-responsive customer-img" src="/assets/img/sport.png" alt=""></a>
            <div class="newcaption">
                <h4>Sports</h4>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/business"> <img class="img-responsive customer-img" src="/assets/img/currency.jpg" alt=""></a>
            <div class="newcaption">
                <h4>Business</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/technology"> <img class="img-responsive customer-img" src="/assets/img/technology.jpg" alt=""></a>
            <div class="newcaption">
                <h4>Technology</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/science-and-nature"> <img class="img-responsive customer-img" src="/assets/img/scienceandnature.jpg" alt=""></a>
            <div class="newcaption">
                <h4>Science and Nature</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/music"> <img class="img-responsive customer-img" src="/assets/img/music.jpg" alt=""></a>
            <div class="newcaption">
                <h4>Music</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/entertainment"> <img class="img-responsive customer-img" src="/assets/img/entertainment.jpg" alt=""></a>
            <div class="newcaption">
                <h4>Entertainment</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/gaming"> <img class="img-responsive customer-img" src="/assets/img/gaming.jpg" alt=""></a>
            <div class="newcaption">
                <h4>Gaming</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/general"> <img class="img-responsive customer-img" src="/assets/img/world_news_new.png" alt=""></a>
            <div class="newcaption">
                <h4>General</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <a href="/news/all"> <img class="img-responsive customer-img" src="/assets/img/all.jpg" alt=""></a>
            <div class="newcaption">
                <h4>All +</h4>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Technologies Used Section Replace icons with technology icons -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our MVC Framework</h2>
        </div>
         <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                              <img src="/assets/img/sequelize.png" class="img-responsive"/>
                        </span>
                </div>
                <div class="panel-body">
                    <h4><span style="color:#337ab7;">Sequelize With MySql</span></h4>
                    <p>Our Model is built using Sequelize, a promise-based ORM for Node.js and MySql database.</p>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                              <img src="/assets/img/bootstrap.png" class="img-responsive"/>
                        </span>
                </div>
                <div class="panel-body">
                    <h4><span style="color:#337ab7;">Bootstrap</span></h4>
                    <p>Our theme is built using Bootstrap which is the most popular HTML, CSS, and JS framework for responsive, mobile first projects.</p>
                   <br>
                </div>
            </div>
        </div>
         <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                             <img src="/assets/img/handlebars.png" class="img-responsive"/>
                        </span>
                </div>
                <div class="panel-body">
                    <h4><span style="color:#337ab7;">Handlebars</span></h4>
                    <p>Handlebars provided the power necessary to let us build dynamic content templets for creating this single page application.</p>
                    <br>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <span class="fa-stack fa-5x">
                              <img src="/assets/img/node.png" class="img-responsive"/>
                        </span>
                </div>
                <div class="panel-body">
                    <h4><span style="color:#337ab7;">Node with Express</span></h4>
                    <p>Express with Node.js application framework makes our middleware to respond request and define routing and dynamically render HTML Pages</p>

                </div>
            </div>
        </div>


    </div>
    <!-- /.row -->
    <!-- Team Members -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/ManaliMatkar.jpg" alt="photo of Manali Matkar">
                <div class="caption">
                    <h3>Manali Matkar<br>
                            <small>Team Leader</small>
                        </h3>
                    <p></p>
                    <ul class="list-inline">
                        <li><a href="https://github.com/manalimatkar/"><i class="fa fa-2x fa-github-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/manalimatkar"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/DrakeBallard.jpg" alt="photo of Drake Ballard">
                <div class="caption">
                    <h3>Drake Ballard<br>
                            <small>Database Guru</small>
                        </h3>
                    <p></p>
                    <ul class="list-inline">
                        <li><a href="https://github.com/drakeballard"><i class="fa fa-2x fa-github-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/drakeballard"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/EdReynolds.jpg" alt="photo of Ed Reynolds">
                <div class="caption">
                    <h3>Ed Reynolds<br>
                            <small>Design Team</small>
                        </h3>

                    <ul class="list-inline">
                        <li><a href="https://github.com/EdReynolds3"><i class="fa fa-2x fa-github-square"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/edreynoldsusa"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
    <hr>
</div>
