.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    /*Drake style. can be removed!*/
    margin-bottom: 30px;
}

/*creating banner for each category*/
.newcaption {
    width: 370px;
    bottom: 2.15rem;
    position: absolute;
    background: #000;
    text-align: center;
    background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/*.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}*/

.newcaption h4 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
