.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    /*Drake style. can be removed!*/
    margin-bottom: 30px;
}

/*creating banner for each category*/
.newcaption {
    width: 360px;
    bottom: 2.5rem;
    position: absolute;
    background: #787878;
    text-align: center;
    color: white;

}
.newcaption h4 {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

/*.footerwrap {
  background-color: #373a3c;
}*/

footer, #block {
	background-color: #080808;
	color: #fff;
	padding: 0px;
	clear: both;
	border-top: 8px solid #4aaaa5;
	color: #ccc;
	font-size: 12px;
	text-align: center;
  margin: 0px;
}
